<script>
    $('.nav a').click(function(){
        $('.navbar-collapse').collapse('hide');

    });
</script>
<div class="col-lg-12">
<header class="navbar navbar-default navbar-static">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#nav" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
         <a href="#">BRAND NAME</a>-->
        <nav class="collapse navbar-collapse" id="nav">
            <div class="col-lg-7 col-lg-offset-5">
                <ul class="nav navbar-nav">

                    <li ng-class="{ active: isActive('/homepage') }">
                        <a ui-sref="homepage" id="home">HOME</a>
                    </li>

                    <li ng-class="{ active: isActive('/homepage/aboutus') }">
                        <a ui-sref="homepage" id="about">ABOUT US</a>
                    </li>

                    <li ng-class="{ active: isActive('/homepage/mission') }">
                        <a ui-sref="homepage" id="mission">MISSION</a>
                    </li>

                    <li ng-class="{ active: isActive('/homepage/vission') }">
                        <a ui-sref="homepage" id="vission">VISSION</a>
                    </li>

                    <li ng-class="{ active: isActive('/homepage/whatwedo') }">
                        <a ui-sref="homepage" id="what">WHAT WE DO</a>
                    </li>

                    <li ng-class="{ active: isActive('/homepage/whywedo') }">
                        <a ui-sref="homepage" id="why">WHY WE DO</a>
                    </li>



                </ul>
            </div>
        </nav>
</header>
</div>

    <div class="body_image">
    <img src="images/gbm.jpg" style="height:520px;width: 100%;">
</div>


<div id="about_position">
</div>
<div class="panel panel-default" style="background-color:white;color:black">
    <div class="panel-body">

        <div class="col-lg-12">
            <h1 style="color:#2f6fad ;text-align: center">About Us</h1>
            <span style="text-align: left;font-size: 20px;font-family: 'Roboto', sans-serif;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</span>

        </div>
    </div>
</div>

<div id="mission_position">
</div>
<div class="panel panel-default" style="background-color: #e3a345;color: white">
    <div class="panel-body">
        <div class="col-lg-6 refer_frnd_container">
            <div id="refer_frnd_img">
                <!--<img src="images/.jpg">-->
            </div>
        </div>
        <div class="col-lg-6">
            <h1 style="color: white">OUR MISSION</h1>
            <span style="text-align: left;font-size: 20px;font-family: 'Roboto', sans-serif;">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced </span>

        </div>
    </div>
</div>

<div id="vission_position">
</div>
<div class="panel panel-default" style="background-color: white;color: black">
    <div class="panel-body">
        <div class="col-lg-6">
            <h1 style="color: #2f6fad">OUR VISSION</h1>
            <span style="text-align: left;font-size: 20px;font-family: 'Roboto', sans-serif;">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced </span>

        </div>

        <div class="col-lg-6 refer_frnd_container">
            <div id="refer_frnd_img">
                <!--<img src="images/.jpg">-->
            </div>
        </div>
    </div>
</div>
<div id="what_position">
</div>
<div class="panel panel-default" style="background-color:#e3a345;color: white">
    <div class="panel-body">

        <div class="col-lg-12">
            <h1 style="color:white ;text-align: center">WHAT WE DO</h1>
            <span style="text-align: left;font-size: 20px;font-family: 'Roboto', sans-serif;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</span>

        </div>
    </div>
</div>
<div id="why_position">
</div>
<div class="panel panel-default" style="background-color: white;color:black">
    <div class="panel-body">
        <div class="col-lg-6 refer_frnd_container">
            <div id="refer_frnd_img">
                <!--<img src="images/.jpg">-->
            </div>
        </div>
        <div class="col-lg-6">
            <h1 style="color: #2f6fad">WHY WE DO</h1>
            <span style="text-align: left;font-size: 20px;font-family: 'Roboto', sans-serif;">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced </span>

        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="footer">
        <p style="text-align:center;color:white; ">All Rights Reserved</p>
    </div>
</div>
<script>
    $('button.scrollsomething').on('click', function(){
        $.smoothScroll({
            scrollElement: $('div.scrollme'),
            scrollTarget: '#findme'
        });
        return false;
    });

    $("#home").click(function(){
        $('html,body').animate({
            scrollTop: $("header").offset().top
        }, 'slow');
    });
    $("#about").click(function(){
        $('html,body').animate({
            scrollTop: $("#about_position").offset().top + 0
        }, 'slow');
    });
    $("#mission").click(function(){
        $('html,body').animate({
            scrollTop: $("#mission_position").offset().top - 90
        }, 'slow');
    });

    $("#vission").click(function(){
        $('html,body').animate({
            scrollTop: $("#vission_position").offset().top - 98
        }, 'slow');
    });

    $("#what").click(function(){
        $('html,body').animate({
            scrollTop: $("#what_position").offset().top - 80
        }, 'slow');
    });

    $("#why").click(function(){
        $('html,body').animate({
            scrollTop: $("#why_position").offset().top
        }, 'slow');
    });
</script>
